services:
  chatty0:
    image: ancientlore/chatty:latest
    container_name: chatty0
    command: ["-token", "${GOOGLE_AI_KEY}", "-system", "/etc/chatty/system.txt"]
    ports:
      - "8080:8080"
    volumes:
      - chatty-config:/etc/chatty:ro
    restart: unless-stopped
  chatty1:
    image: ancientlore/chatty:latest
    container_name: chatty1
    command: ["-token", "${GOOGLE_AI_KEY}", "-system", "/etc/chatty/system.txt"]
    ports:
      - "8081:8080"
    volumes:
      - chatty-config:/etc/chatty:ro
    restart: unless-stopped
volumes:
  chatty-config:
    driver: local
    driver_opts:
      type: none
      device: ${CHATTY_CONFIG_DIR}
      o: bind
